= render 'shared/nav'

%main
  .section.no-pad-bot{id: 'index-banner'}
    .container
      %h1.header.center.orange-text
        = "#{@persona.name} (#{@persona.arcana.name})"

      - if @persona.img
        .col.s12.center
          = image_tag @persona.img

      #stats
        %h4 Stats
        %p
          %b Arcana:
          = @persona.arcana.name
        %p
          %b Base Level:
          = @persona.level || 'Inherit (from what?)'
        %p
          %table.striped
            %tr
              - @persona.stats.each do |stat|
                %th.center
                  = stat.name
            %tr
              - @persona.stats.each do |stat|
                %td.center
                  = stat.value

      .row.col.s12.divider

      #affinities
        %h4 Affinities
        %table.striped
          %tr
            - Element.basic.each do |element|
              %th.center
                = element.name
          %tr
            - Element.basic.each do |element|
              %td.center
                = @persona.affinities.find {|a| a.element == element}.try(:present).try(:html_safe) || '-'

      .row.col.s12.divider

      #skills
        %h4 Skills
        %table.striped{id: 'persona-skills'}
          %thead
            %tr
              %th.center Name
              %th.center Effect
              %th.center Cost
              %th.center Unlocked at level
          %tbody
            - @persona.skills.each do |skill|
              %tr
                %td.center
                  %b= skill.name
                %td.center= skill.effect
                %td.center= skill.cost
                %td.center= skill.level || 'Innate'

= render 'shared/footer'

-# TODO: Get a frontend management tool and require datatables more nicely
%link{rel: "stylesheet", type: "text/css", href: "https://cdn.datatables.net/v/dt/dt-1.10.13/cr-1.3.2/fh-3.1.2/kt-2.2.0/se-1.2.0/datatables.css"}
%script{type: "text/javascript", src: "https://cdn.datatables.net/v/dt/dt-1.10.13/cr-1.3.2/fh-3.1.2/kt-2.2.0/se-1.2.0/datatables.js"}
:javascript
    $(function(){
      $('#persona-skills').DataTable({
        //Options
        paging: false,
        pageLength: -1,
        searching: false,
        order: [],        // Don't order skills initially

        //Plugins
        colReorder: true,
        fixedHeader: true,
        // keys: true,
        // select: true
      });
    });
