= render 'shared/nav'

%main
  .section.no-pad-bot{id: 'index-banner'}
    .container
      %h1.header.center.orange-text
        = "#{@persona.name} (#{@persona.arcana.name})"

      #stats
        %h4 Stats
        %p
          %b Arcana:
          = @persona.arcana.name
        %p
          %b Level:
          = @persona.level || 'Inherit (from what?)'
        %p
          %b Strength, etc.: TODO

      .row.col.s12.divider

      #affinities
        %h4 Affinities
        %table.striped
          %tr
            - Element.basic.each do |element|
              %th.center
                = element.name
          %tr
            - Element.basic.each do |element|
              %td.center
                = @persona.affinities.find {|a| a.element == element}.try(:effect) || '-'

= render 'shared/footer'