= render 'shared/nav'

%main
  .section.no-pad-bot{id: 'index-banner'}
    .container
      %h1.header.center.orange-text
        = "#{@persona.name} (#{@persona.arcana.name})"

      - if @persona.img
        .col.s12.center
          = image_tag @persona.img

      #stats
        %h4 Stats
        %p
          %b Arcana:
          = @persona.arcana.name
        %p
          %b Base Level:
          = @persona.level || 'Inherit (from what?)'
        %p
          %table.striped
            %tr
              - @persona.stats.each do |stat|
                %th.center
                  = stat.name
            %tr
              - @persona.stats.each do |stat|
                %td.center
                  = stat.value

      .row.col.s12.divider

      #affinities
        %h4 Affinities
        %table.striped
          %tr
            - Element.basic.each do |element|
              %th.center
                = element.name
          %tr
            - Element.basic.each do |element|
              %td.center
                = @persona.affinities.find {|a| a.element == element}.try(:present).try(:html_safe) || '-'

      .row.col.s12.divider

      #skills
        %h4 Skills
        %table.striped
          %tr
            %th.center Name
            %th.center Effect
            %th.center Cost
            %th.center Unlocked at level
          - @persona.skills.each do |skill|
            %tr
              %td.center
                %b= skill.name
              %td.center= skill.effect
              %td.center= skill.cost
              %td.center= skill.level || 'Innate'

= render 'shared/footer'