= render 'shared/nav'

-# TODO: Get a frontend management tool and require datatables more nicely
%link{rel: "stylesheet", type: "text/css", href: "https://cdn.datatables.net/v/dt/dt-1.10.13/cr-1.3.2/fh-3.1.2/kt-2.2.0/se-1.2.0/datatables.css"}
%script{type: "text/javascript", src: "https://cdn.datatables.net/v/dt/dt-1.10.13/cr-1.3.2/fh-3.1.2/kt-2.2.0/se-1.2.0/datatables.js"}

%main
  .section.no-pad-bot{id: 'index-banner'}
    .container
      %h1.header.center.orange-text
        = "#{@personas.size} personas available"

      .row
        .col.s12
          %table.striped{id: 'personas'}
            %thead
              %tr
                %th.center Name
                %th.center Arcana
                %th.center Level
            %tbody
              - @personas.each do |persona|
                %tr
                  %td.center= link_to(persona.name, persona)
                  - #TODO: Enable arcana routing for Arcana links to work
                  -#%td.center= link_to(persona.arcana.name, persona.arcana)
                  %td.center= persona.arcana.name
                  %td.center= persona.level

= render 'shared/footer'

:javascript
    $(function(){
      $('#personas').DataTable({
        //Options
        paging: false,
        pageLength: -1,

        //Plugins
        colReorder: true,
        fixedHeader: true,
        // keys: true,
        // select: true
      });
    });
